body {
    background: url("https://static.vecteezy.com/system/resources/previews/005/182/612/original/green-abstract-geometric-shape-background-free-vector.jpg");
    width: 100%;
    margin: 0;
}

.top {
    font-size: 4rem;
    text-align: center;
    width: 100%;
    padding-top: 3rem;
    color: rgb(19, 16, 16);
    font-weight: bold;
}

.Login {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 3rem;
    height: 60vh;
    margin-left: 35vw;
    margin-right: 35vw;
    padding-right: 5vw;
    padding-left: 5vw;
    font-size: 1rem;
    background-color: rgb(10, 216, 75);
    opacity: 0.7;
    color: rgb(28, 21, 27);
}

.Login input {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    box-shadow: inset 0 0 1.6em -0.6em #714da6;

    font-size: 1.2rem;
}

.login-button {
    box-shadow: inset 0 0 1.6em -0.6em #714da6;

    font-size: 1rem;
    cursor: pointer;
}

.Login form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 4rem;
}

.Loginheader {
    text-align: center;
    font-size: 3rem;
}

.signup {
    width: 100%;
    margin-top: 0.8rem;
    display: flex;
    justify-content: space-between;
}
