body {
    background-color: black;
    width: 100%;
    margin: 0;
}

.top {
    font-size: 4rem;
    text-align: center;
    width: 100%;
    padding-top: 3rem;
    color: white;
}

.Login {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 3rem;
    height: 30vh;
    width: 100vw;
    font-size: 1rem;
    background: url("https://wallpaperaccess.com/full/2562648.jpg");
    color: rgb(255, 226, 226);
}

.Login input {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.3rem;
    box-shadow: 1px 1px #382b2b;
    font-size: 2rem;
    width: 35vw;
}

.login-button {
    border-color: rgb(15, 44, 92);
    font-size: 1rem;
    cursor: pointer;
}

.Login form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 4rem;
}

.Loginheader {
    text-align: center;
    font-size: 3rem;
}

.signup {
    width: 100%;
    margin-top: 0.8rem;
    display: flex;
    justify-content: space-between;
}

