.footer{
    background: rgba(4, 255, 0, 0.9);
    left: 0px;
    right: 0px;
    top: 0px;
    height: var(--header-height);
    z-index: 10;
    padding: 5em;
}
.footer-head{
    display: flex;
    flex-direction: row;
    position: relative;
}
.footer-text{
    font-size: 3em;
    text-align: center;
    width: fit-content;
    position: absolute;
    top: 30%;
    margin-left: 40%;

}
.footer-logo{
    margin-left: 70%;
    padding-bottom: 2em;
}
.footer-logo img{
    border-radius: 100%;
    width: 10em;
}
.footer-links{
    height: 5em;
}
.page-link{
    font-size: 2em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(0, 5, 108);
    padding: 1em;
    float:left;
}
.social-media-link{
    float: right;
}
.social-media-link img{
    border-radius: 100%;
    padding: 1em;
    vertical-align: middle;
    width: 7em;
    margin: 1em;
    border-color: black;
    box-sizing: border-box;
}