.navbar{
    background: rgba(10, 10, 35, 0.9);
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    height: var(--header-height);
    z-index: 10;
  }
  
  .navbar-logo{
    float: left;
    padding: 8px 23px;
    height: 65px;
    border-radius: 100%;
  }
  .navbar-items {
    font-family: Proxima-Soft;
    color: var(--main-color);
    font-size: 20pt;
    margin-right:30px ;
    float: left;
    display: flex;
    column-gap: 20px;
    margin-top: 10px;
    margin-bottom: 0px;
    height: 60px;;
    top: 50%;
  
  }
  
  .menu-item{
    float: left;
    text-decoration: none;
    color: var(--main-color);
    padding: 15px 25px;
    text-align: center;
  }
  .login-link{
    float: right;
    text-decoration: none;
    color: var(--main-color);
    padding: 15px 25px;
    text-align: center;
  }