.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1c1c1c;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  padding: 1em;
  font-size: 1.4em;
}

.navbar-logo {
  width: 5em;
  margin-left: 20px;
  border-radius: 100%;
}

.navbar-items {
  display: flex;
  align-items: center;
  margin-right: 3em;
}

.menu-item {
  text-decoration: none;
  color: white;
  margin: 0 20px;
  transition: all 0.2s ease-in-out;
}

.menu-item:hover {
  color: #f39c12;
}

.login-link {
  border: 1px solid #f39c12;
  border-radius: 20px;
  color: #f39c12;
  text-decoration: none;
  padding: 5px 15px;
  margin-left: 20px;
  transition: all 0.2s ease-in-out;
}

.login-link:hover {
  background-color: #f39c12;
  color: white;
}

@media (max-width: 768px) {
  .navbar-items {
      display: none;
  }

  .navbar-logo {
      margin: 20px;
  }
}
